.Footer{
    background-color: #F2F2F2;
}

.FooterText{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
   
}


.Contact .Logo img {
    width: 300px;
    height: 150px;
    margin-left: -100px;
}