.PrivacyPolicy{
    padding: 100px 50px 100px 200px;
    font-family: Sinhala Sangam MN;
}



.NewIcon{
    position: absolute;
    top: 0;
    left: 0;
}




.Privacy{
    width: 900px;
    margin-top: 50px;
}



.Privacy p{
    color: #1c1d1f;
    font-size: 15px;
    
}



.Policy{
    width: 500px;
    margin-top: 50px;
}

.Policy h2 {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}



.Policy-Text{
    width: 700px;
    margin-top: 50px;
}

.Answers{
    width: 800px;
    margin-top: 50px;
}

.Answers h4 {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.Answers .Data{
    margin-bottom: 50px;
}

.text{
    width: 700px;
    margin-top: 100px;
}