.LabTest p {
    font-size: 25px;
    color: #000000;
    width: 725px;
    margin-bottom: 120px;
}




.LabTestImage {
    position: relative;
}


.LabTestImage img {
    width: 100%;

}




.LabTestText p {
    font-size: 23px;
    font-weight: 400;
    color: #000000;
    width: 100%;
}






.LabTestsShadow img {
    width: 300px;
    height: 250px;
    position: absolute;
    top: -82px;
    left: -85px;
    z-index: -1;
}