body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Sinhala Sangam MN;
  
}

.Container{
  width: 1300px;
  padding: 0px !important;
  margin: 0 auto;
  
}


.MarginButtom{
  margin-bottom: 100px;
}


.DefultColor{
  color: #F98506;
}

h1{
  font-size: 40px;
  font-weight: 700;
  font-family: Poppins;
  color: #F98506;
}


.Button {
  background-color: #F98506 !important;
  padding: 10px 10px !important;
  color: #FFFFFF !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  font-family: Poppins !important;
  margin: 40px 50px 0px 0px !important;
}


.BackIcon{
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}


.ItamBottom{
  text-decoration: none;
}